app:
  version: 1.0
  name: Tesla
  host: 0.0.0.0                                 # Server IP
  port: 80                                    # Server port
  ctxTimeout: 30s
database:
  writer:
    host: localhost
    port: 5432
    user: default
    pass: secret
    databaseName: kerjapedia
    debugLog: false
    timezone: ASIA/JAKARTA
    ssl: disable
    pool:
      maxIdleConn: 5
      maxOpenConn: 50
      maxConnLifetime: 1m
  reader:
    host: localhost
    port: 5432
    user: default
    pass: secret
    databaseName: kerjapedia
    debugLog: true
    timezone: ASIA/JAKARTA
    ssl: disable
    pool:
      maxIdleConn: 5
      maxOpenConn: 50
      maxConnLifetime: 1m
