{{ define "layout" }}
    <html lang="en" >

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ditto</title>
        <link href="{{ .BaseURL}}/static/css/bootstrap.css" rel="stylesheet">
        <link href="{{ .BaseURL}}/static/css/custom.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ .BaseURL}}/static/css/bootstrap-icons/bootstrap-icons.css">
    </head>

    <body >

{{ end }}
